//Color Definision
$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_BLACK: rgb(0, 0, 0);
$COLOR_BLACK_NIGHTLY: rgba(0, 0, 0, 0.6);
$COLOR_FLUENT: rgb(120, 120, 120, 0.6);
$COLOR_NYARU: #F9F9F9;

#login-box{
    background: $COLOR_NYARU;
}

@media only screen and (max-width: 600px){
    #login-box{
        margin-top: 30% !important;
    }
}

@media only screen and (max-width: 720px) and (max-height: 720px){
    
}

@media only screen and (min-width: 961px){
    #login-box{
        margin-top: 10% !important;
    }
}



